<% content_for(:html_title) { @page.title } %>

<h2 class= "title is-2"><%= @page.title %></h2>
<p class="mb-5"><%= @page.content %></p>

<div>
  <%= link_to "Edit this page", edit_page_path(@page), class: "button is-warning"%>
  <%= link_to "Back to pages", pages_path, class: "button is-link"%>
  <%= button_to "Destroy this page", @page, method: :delete, class: "button is-danger mt-5"%>
</div>
